@charset "UTF-8";
[data-style="ApplicationLoaderComponentStyle-container Common-background"], [data-style*="FatalErrorScreenStyle-container"] {
    background: radial-gradient(100.19% 100.19% at -0.19% 100.19%,#0395ff 0,rgba(3,149,255,.463) 43.75%,rgba(3,149,255,.296) 59.38%,rgba(3,149,255,.156) 75.52%,rgba(3,149,255,.073) 86.98%,rgba(3,149,255,0) 100%) left bottom / 35em 35em no-repeat, radial-gradient(100.19% 100.19% at 100.19% 100.19%,#fe32fe 0,rgba(254,50,254,.463) 43.75%,rgba(254,50,254,.296) 59.38%,rgba(254,50,254,.156) 75.52%,rgba(254,50,254,.073) 86.98%,rgba(254,50,254,0) 100%) right bottom / 35em 35em no-repeat, url('https://arcade.tankionline.com/static/media/background.bec1896ee7cfb41b1321.png'), radial-gradient(59.43% 100% at 50% 100%,#285f92 0,#003358 100%);
}
[data-style="ApplicationLoaderComponentStyle-loader"] + div + div span {
    --custom-rocket-color: #ffffff80 !important;
}
[data-style*="ApplicationLoaderComponentStyle-container"]:not([data-style*="Common-background"]) {
    --custom-rocket-color:radial-gradient(ellipse 100% 100% at 100% 0%, #0000, #00192680) !important;
}
